@use '../base/variables' as v;
@use '../base/mixins' as m;
  

header{
        background: v.$gris;
        height: 820px;
}

.navbar{
    background-color: v.$negro;
    display: flex;
    font-family: v.$fuente-titulo;
    justify-content: center;
    height: 80px;
    padding: 0;
    z-index: 1;

    a{
        text-decoration: none;
        color: v.$blanco;
    }
    ul{
        margin-top: 30px;
        text-align: center;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding: 0%;
    }

    li{
        color: v.$blanco;
        transition: trasnform .2s;
        transition: .25s linear;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color: gray;
            transform: scale(1.1);
            transition: tex-decoration 2s;
        }
    }

    img{
        width: v.$small;
        filter: invert(100%);
        cursor: pointer;
        margin-top: 25px;
    }

    .content_navbar-small{
        display: none;
    }
}

// Versi贸n responsive light
.navbar{
    // MEDIA QUERIE PARA CELULAR DEL NAVBAR, TODOS LOS ELEMENTOS QUE SE ENCUENTRAN DENTRO DEL MEDIA HACEN REFERENCIA AL NAVBAR
    @include m.phone{
        position: fixed;
        width: 100%;

        .content_enlaces{
            display: none;
        }
        .content_logos{
            display: none;
        }
        .content_navbar-small{
            display: block;

            .content_menu-desplegable{
                background-color: v.$negro;
                transition: .5s ease;
                visibility: inherit;
                width: 200px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;

                .content_menu{
                    display: flex;
                    h4{
                        color: v.$blanco;
                        height: 30px;
                        padding-top: 25px;
                    }

                    .cerrar{
                        width: 20px;
                    }
                }
                    
            }

            .content_enlaces-small{
                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$blanco;
                        margin-top: 10px;
                        border-radius: 5px;
                        a{
                            color: v.$negro
                        }
                    }
                    
                }
            }
        }



       
    }

    @include m.tablet{
        position: fixed;
        width: 100%;

        .content_enlaces{
            display: none;
        }
        .content_logos{
            display: none;
        }
        .content_navbar-small{
            display: block;

            .content_menu-desplegable{
                background-color: v.$negro;
                transition: .5s ease;
                visibility: inherit;
                width: 300px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;

                .content_menu{
                    display: flex;
                    h4{
                        color: v.$blanco;
                        height: 30px;
                        padding-top: 25px;
                    }

                    .cerrar{
                        width: 20px;
                    }
                }
                    
            }

            .content_enlaces-small{
                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$blanco;
                        margin-top: 15px;
                        border-radius: 5px;
                        a{
                            color: v.$negro
                        }
                    }
                    
                }
            }
        }
    }
}

   


.navbar_dark{
    background-color: v.$blanco;
    display: flex;
    font-family: v.$fuente-titulo;
    justify-content: center;
    height: 80px;
    
    
   
    a{
        text-decoration: none;
        color: v.$negro;
    }

    ul{
        margin-top: 30px;
        margin-bottom: 0%;
        text-align: center;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding: 0%;
    }

    li{
        color: v.$negro;
        transition: trasnform .2s;
        transition: .25s linear;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color: gray;
            transform: scale(1.1);
            transition: tex-decoration 2s;

           
        }
    }

    img{
        width: v.$small;
        cursor: pointer;
        margin-top: 25px;
    }

    .content_navbar-small{
        display: none;
    }
}


// Navbar responsive dark
.navbar_dark{
    @include m.phone{
        position: fixed;
        width: 100%;

        .content_enlaces{
            display: none;
        }
        .content_logos{
            display: none;
        }
        .content_navbar-small{
            display: block;

            .content_menu-desplegable{
                background-color: v.$blanco;
                transition: .5s ease;
                visibility: inherit;
                width: 200px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;

                .content_menu{
                    display: flex;
                    h4{
                        color: v.$negro;
                        height: 30px;
                        padding-top: 25px;
                    }

                    .cerrar{
                        width: 20px;
                    }
                }
                    
            }

            .content_enlaces-small{
                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$negro;
                        margin-top: 10px;
                        border-radius: 5px;
                        a{
                            color: v.$blanco;
                        }
                    }
                    
                }
            }
        }
    }

    @include m.tablet{
        position: fixed;
        width: 100%;

        .content_enlaces{
            display: none;
        }
        .content_logos{
            display: none;
        }
        .content_navbar-small{
            display: block;

            .content_menu-desplegable{
                background-color: v.$blanco;
                transition: .5s ease;
                visibility: inherit;
                width: 300px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;

                .content_menu{
                    display: flex;
                    h4{
                        color: v.$negro;
                        height: 30px;
                        padding-top: 25px;
                    }

                    .cerrar{
                        width: 20px;
                    }
                }
                    
            }

            .content_enlaces-small{
                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$negro;
                        margin-top: 15px;
                        border-radius: 5px;
                        a{
                            color: v.$blanco
                        }
                    }
                    
                }
            }
        }     
    }
}



// Secci贸n sobre mi
.content_about-me{
    width: 90%;
    display: flex;
    margin-top: 10rem;

    .content_info{
        width: 40%;
    }
    .content_info{
        h1{
            font-family: v.$fuente-titulo;
            font-size: v.$big-titulo;
            transition: .25s linear;
        } 

        p{
            font-family: v.$fuente-parrafo;
            font-size: v.$big-parrafo;
            justify-content: center;
            transition: .25s linear;
        }

        .content_icon{
            a img{
                width: v.$small;
                margin-top: 20px;
                transition: transform .2s;

                &:hover{
                    background-color: v.$rosa;
                    border-radius: 50px;
                    transform: scale(1.1);
                }
            }
        }
    }
}


// Versi贸n responsive light 
.content_about-me{
    @include m.phone{
        display: grid;
        margin-top: 0%;

        .content_info{
            width: auto;
            margin-top: 2rem;

            h1{
                margin-top: 5.5rem;
            }

            .content_icon{
                display: none;
            }
        }

        .content_ilus{
            img{
                width: 200px;
            }
        }
    }

    @include m.tablet{
        display: grid;
        margin-top: 0%;

        .content_info{
            width: auto;
            margin-top: 2rem;

            h1{
                margin-top: 5.5rem;
            }

            .content_icon{
                display: none;
            }
        }

        .content_ilus{
            img{
                width: 300px;
            }
        }
    }
} 

.content_about-me-dark{
    width: 90%;
    display: flex;
    margin-top: 10rem;

    .content_info{
        width: 40%;
    }
    .content_info{
        h1{
            font-family: v.$fuente-titulo;
            font-size: v.$big-titulo;
            color: v.$blanco;
            transition: .25s linear;
        } 

        p{
            font-family: v.$fuente-parrafo;
            font-size: v.$big-parrafo;
            justify-content: center;
            color: v.$blanco;
            transition: .25s linear;            
        }

        .content_icon{
            a img{
                width: v.$small;
                filter: invert(100%);
                margin-top: 20px;
                transition: transform .2s;

                &:hover{
                    background-color: v.$rosa;
                    border-radius: 50px;
                    transform: scale(1.1);
                }
            }
        }
    }
}

// Versi贸n responsive dark
.content_about-me-dark{
    @include m.phone{
        display: grid;
        margin-top: 0%;

        .content_info{
            width: auto;
            margin-top: 2rem;

            h1{
                margin-top: 5.5rem;
            }

            .content_icon{
                display: none;
            }
        }

        .content_ilus{
            img{
                width: 200px;
            }
        }
    }

    @include m.tablet{
        display: grid;
        margin-top: 0%;

        .content_info{
            width: auto;
            margin-top: 2rem;

            h1{
                margin-top: 5.5rem;
            }

            .content_icon{
                display: none;
            }
        }

        .content_ilus{
            img{
                width: 300px;
            }
        }
    }
   
}